</main>

<div id="footer">

    <div id="footer_icon">
        <img src="/images/my_logo_icon.png" alt="logo_icon">
    </div>
    
    <div id="footer_content">
        <p>&#169; Charlotte Society of Computing</p>
    </div>

    <div id="footer_social_media">
        <img src="/images/fb_icon.png" alt="fb_icon">
        <img src="/images/twitter_icon.png" alt="twitter_icon">
    </div>

</div>

</body>
</html>