<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


    <div id="nav">

        <div id ="top_row">
            <a href="/main/"><img src="/images/my_logo.png" alt="logo_pic"/></a>
            <h3>Charlotte Society of Computing</h3>

            <div id="user_nav_bar">

                <ul>
                    <li><a href="/connections/newConnection">Start a new connection</a></li>
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/signup">Sign up</a></li>
                    <li><a href="/user/profile">Profile</a></li>
                    <li><a href="/user/logout">Logout</a></li>
                </ul>

            </div>
        </div>
        
        <div id="general_nav_bar">
            <ul>
                <li><a href="/main/">Home</a></li>
                <li><a href="/connections">Connections</a></li>
                <li><a href="/main/about">About</a></li>
                <li><a href="/main/contact">Contact</a></li>
            </ul>
        </div>

    </div>

    <!-- Display flash messages -->
    <% if (errorMessages.length > 0) {
        errorMessages.forEach(message => { %>
            <div class="error"> <%= message %> </div>
       <% });
    } %>
    
    
    <% if (successMessages.length > 0) {
        successMessages.forEach(message => { %>
            <div class="success"> <%= message %> </div>
       <% });
    } %>

    <main>