<%- include('./partials/header.ejs') %> 

    <title>CSC About</title>

    <div id="about_content" class="contentBox">

        <h2>About Us</h2>
        <p>
            Our goal at CSC is to educate and inspire people all of ages to
            learn and delve deep into feild of computer hardware, software, or
            any other categories of technology. We host several events througout
            the year. You can keep up with these events, or create and host your 
            own events at CSC right here on our website!
        </p>


        <div class="imageRow">

            <img src="/images/about1.jpg" alt="about1">
            <img src="/images/about2.png" alt="about2">

        </div>

    </div>

<%- include('./partials/footer.ejs') %> 