<%- include('./partials/header.ejs')  %> 

    <title>CSC Home</title>
        
    <div id="index_content" class="contentBox">

        <h2>Welcome!</h2>
        <p>
            Here at the Charlotte Society of Computing (or CSC) we
            like to discuss and in engage in activites that involves
            all things computers. We host events in the Charlotte area to help
            people engage more with computer hardware or software.
        </p>
        <p>
            For more information about upcoming events, please check out
            our connections page!
        </p>

    </div>

<%- include('./partials/footer.ejs') %> 